<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>tracks</title>
    </head>
    <body>
        <h1>All Tracks</h1>
        <table>
            <thead>
                <th>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Action</td>
                    </tr>
                </th>
            </thead>
            <tbody>
                <tr>
                    {% for track in list%}
                    <td>track.0</td>
                    <td>track.1</td>
                    <td>
                        <a href="">Update</a>
                        <a href="">Delete</a>
                    </td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
        <ul>
            {%for track in list%}
            <li>{{track.1}}</li>
            {% endfor %}
        </ul>
    </body>
</html>