{% extends 'base.html' %}

{% block content %}
<div >
     Add New Trainee
</div>
<div>
    <form>
        <div clah1>
            <div>
                <label for="{{ form.name.id_for_label }}"></label>
                {{ form.name }}
                <br>
            </div>
            <div >
                <label for="{{ form.email.id_for_label }}"></label>
                {{ form.email }}
                <br>
            </div>
        </div>
        <br><br>
        <div>
            <div>
                <label for="track">Choose Track:</label>
                    <select name="track" id="track">
                        <option value="">-- Select a track --</option>
                        <option value="1">Python</option>
                        <option value="2">Django</option>
                        <option value="3">Web Development</option>
                    </select>
            </div>
            
            <div>
                <label for="{{ form.phone.id_for_label }}">Phone</label>
                {{ form.phone }}
            </div >  
            <label for="{{ form.date_of_birth.id_for_label }}" >Date of Birth</label>
            {{ form.date_of_birth }}
            
        </div>
        
        <div>
            <button type="submit">
                Save Trainee
            </button><br><br>
            <a href="{% url 'trainees' %}">
                Back to Trainees
            </a>
            
        </div>
    </form>
</div>
</div>
</div>
{% endblock %}
