{% extends 'base.html' %}

{% block content %}
<div>
    <h3>{{ trainee.name }}</h3>
    <div>
        <a href="{% url 'update_trainee' trainee.id %}">Edit</a>
        <a href="{% url 'delete_trainee' trainee.id %}">Delete</a>
    </div>
</div>

<div>
    <h4>Personal Information</h4>
    <p><strong>Name:</strong> {{ trainee.name }}</p>
    <p><strong>Email:</strong> {{ trainee.email }}</p>
</div>

<div>
    <h4>Track Information</h4>
    <p><strong>Track:</strong> {{ trainee.track.name }}</p>
    <p><strong>Status:</strong> {% if trainee.track.is_active %} Active {% else %} Inactive {% endif %}</p>
</div>


<div>
    <a href="{% url 'trainees' %}">Back to Trainees</a>
</div>
{% endblock %}
