{% extends 'base.html' %}

{% block content %}
<h2>Edit Trainee: {{ trainee.name }}</h2>

<form method="post">

    <div>
        <label for="{{ form.name.id_for_label }}">Name *</label>
        {{ form.name }}
       
    </div>

    <div>
        <label for="{{ form.email.id_for_label }}">Email *</label>
        {{ form.email }}
    </div>

    <div>
        <label for="{{ form.track.id_for_label }}">Track *</label>
        {{ form.track }}
    </div>

    <div>
        <a href="{% url 'trainee_detail' trainee.id %}">Cancel</a>
        <button type="submit">Update Trainee</button>
    </div>
</form>
{% endblock %}
