{% extends 'base.html' %}

{% block content %}
<div >
<div >
    <h3 >
        Add New Track
    </h3>
</div>
<div>
    <form method="post">
        <div >
            <label>Track Name *</label>
        </div>
        
        <div>
            <label >Description</label>
            
        </div>
        
        <div>
            <div >
                <label>Duration (weeks)</label>
                
            </div>
            
            <div>
                <div >
                    {{ form.is_active }}
                    <label >
                        Active Track
                    </label>
                </div>
            </div>
        </div>
        
        <div>
            <a href="{% url 'tracks' %}">
                 Back to Tracks
            </a>
            <button type="submit">
                Save Track
            </button>
        </div>
    </form>
</div>
{% endblock %}
