{% extends 'base.html' %}

{% block content %}

<div>
    <div>
        <h3 >
            Delete Track
        </h3>
    </div>
    <div >

        {% if track.trainees.count > 0 %}
        <div >
            this user is not found
        </div>
        {% endif %}
        
        <form method="post">
        
            <div >
                <a href="{% url 'track_detail' track.id %}">
                    Cancel
                </a>
                <button type="submit">
                    Delete 
                </button>
            </div>
        </form>
    </div>
</div>

{% endblock %}
