{% extends 'base.html' %}

{% block content %}
<div >
<div >
    <h3 >
        Edit Track: {{ track.name }}
    </h3>
</div>
<div>
    <form method="post">        
        <div >
            <label for="{{ form.name.id_for_label }}">Track Name *</label>
            {{ form.name }}
        </div>
        
        <div>
            <label for="{{ form.description.id_for_label }}">Description</label>
            {{ form.description }}
        </div>
        
        <div>
            <div >
                <label for="{{ form.duration.id_for_label }}">Duration (weeks)</label>
                {{ form.duration }}               
            </div>
            
            <div >
                <div>
                    {{ form.is_active }}
                    <label for="{{ form.is_active.id_for_label }}">
                        Active Track
                    </label>
                </div>
            </div>
        </div>
        
        <div>
            <a href="{% url 'track_detail' track.id %}">
                Cancel
            </a>
            <button type="submit" >
                Update Track
            </button>
        </div>
    </form>
</div>
{% endblock %}
